.category_card {
  display: flex;
width: 93px;
height: 74px;
padding: var(--Space16, 16px);
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;

border-radius: var(--Space16, 16px);
background: #FFF;

/* shadow/dark/base */
box-shadow: 0px 4px 6px 0px rgba(0, 47, 75, 0.10), 0px 1px 6px 0px rgba(0, 47, 75, 0.08);
}

.title {
  color: var(--text-100, #292524);

/* Body/medium/bold */
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 16px */
}

.swiper {
  width: 95vw !important;
  padding: 1rem 0 !important;
}
